body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #ec1111;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #d46b6b;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

.pagination {
    margin-top: 10px;
    text-align: center;
}

.pagination button {
    padding: 8px 16px;
    margin: 2px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.pagination button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}